{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font-Awesome link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS Style Sheets -->

    <link rel='stylesheet' href="{% static 'web_app/css/responsive.css' %}"/>
    <link rel='stylesheet' href="{% static 'web_app/css/utilities.css' %}"/>
    <link rel='stylesheet' href="{% static 'web_app/css/style.css' %}"/>
    <!-- Favicons -->
    <link rel="icon" href="{% static 'web_app/img/logos/tc_favicon.png' %}" sizes="32x32" />
    <link rel="icon" href="{% static 'web_app/img/logos/tc_favicon.png' %}" sizes="192x192" />
    <!-- Mobile Download Icons  -->
    <link rel="apple-touch-icon-precomposed" href="{% static 'web_app/img/logos/tc_favicon.png' %}" />
    <meta name="msapplication-TileImage" content="{% static 'web_app/img/logos/tc_favicon.png' %}" />

    <title>TORRES CONTRACTORS | Houston's Landscaping & Construction Contractors</title>
</head>

<body>

    <main>
        <!-- Navbar  -->
        <div id="navbar" class="navbar top">
            <!-- Logo  -->
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'web_app/img/logos/tc_logo.png' %}" alt=""></a>
            </div>
            <!-- Navbar Links  -->
            <nav >
                <ul>
                    <li>
                        <a href="{% url 'home' %}" class="nav-links">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}" class="nav-links">About</a>
                    </li>
                    <li>
                        <a href="{% url 'services' %}" class="nav-links">Services</a>
                    </li>
                    <li>
                        <a href="{% url 'projects' %}" class="nav-links">Projects</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}" class="nav-links">Contact</a>
                    </li>
                    <li>
                        <a href="tel:8329713599" class="nav-links">(832) 971-3599</a>
                    </li>
                </ul>
            </nav>
        </div>

        {% block content %}{% endblock %}
    </main>

    <!-- Footer  -->
    <footer class="footer bg-dark">
        <div class="social">
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
        </div>
        <div class="text-primary">
            
        </div>
        <p>Copyright &copy; 2021 EdgeLedger</p>
    </footer>

</body>

</html>