{% extends "web_app/base.html" %}
{% load static %}
{% block content %}



    <!-- Inner_Heading Start-->
    <div class="inner_page_bnr">
      <div class="container">
        <h2>Landscape Design</h2>
      </div>
    </div>
    <!-- Inner_Heading End-->
    <!-- BreadCrumb Start-->
    <div class="breadcum_bg">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Landscaping Design</li>
        </ol>
      </div>
    </div>
    <!-- BreadCrumb End-->
    <!-- Content_Section Start-->
    <div class="wdt_100 pad_100">
      <div class="container service_page">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 wdt_left">
            <ul class="service_nav">
              <li><a href="{% url 'services' %}">All Services</a></li>
              <li><a href="{% url 'lawn' %}">Lawn & Garden Care</a></li>
              <li><a href="{% url 'landscape' %}" class="service_nav_active">Landscape Design</a></li>
              <li><a href="{% url 'outdoor' %}">Exterior Remodel</a></li>
              <li><a href="{% url 'indoor' %}">Indoor Remodel</a></li>
            </ul>
            <div class="howwehelp_col">
              <h4>How can we help you?</h4>
              <p>
                Contact with us through our
                representative  or submit a
                business inquiry online.
              </p><a href="{% url 'contact' %}" class="contact_btn">Contact Us >> </a>
            </div>
            <!-- <div class="download_brochure_Col">
              <h5>Download Our latest <span>Company Brochure</span> from here</h5><a href="#" class="btn download_btn">download</a>
            </div> -->
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 wdt_rght">
            <div class="irrigation_drainage_Col">
              <div class="irrigation_drainage_desc">
                <h4 class="fnt28 mar_btm">Irrigation &  Drainage</h4>
                <p>error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore veritatis et quasi architecto ipsa quae ab illo inventore veritatis et quasi architecto.</p>
                <p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et qu. Our process begins with you, and a discussion with our certified in-house designers. From there we can determine how to craft the perfect outdoor scene to complement.</p>
              </div>
              <div class="irrigation_drainage_img"><span class="image_hover"><img src="{% static 'web_app/images/irrigation_drainage_page/irrigation_img1.jpg' %}" alt="image" class="zoom_img_effect"></span></div>
            </div>
            <div class="irrigation_drainage_Col">
              <div class="irrigation_drainage_desc">
                <h4 class="fnt28 mtop5 mbtm15">Water and Irrigation</h4>
                <p>error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore veritatis et quasi architecto.  sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et qu. Our process begins with you, and a discussion with our certified in-house designers.</p>
              </div>
              <div class="irrigation_drainage_img"><span class="image_hover"><img src="{% static 'web_app/images/irrigation_drainage_page/irrigation_img2.jpg' %}" alt="image" class="zoom_img_effect"></span></div>
            </div>
            <div class="key_benefit_col irrigation_key">
              <div class="key_benefit_img"><span class="image_hover"><img src="{% static 'web_app/images/law_gardner_page/key_benefit_img.jpg' %}" alt="image" class="zoom_img_effect"></span></div>
              <div class="key_benefit_desc">
                <h4 class="fnt28 mar_btm">Key Benefit of Service</h4>
                <p>Using the latest technology and expert insights within the landscaping industry, our dedicated landscape designers can offer you a range of options to enhance your property to.</p>
                <ul class="key_benefit_list">
                  <li>Landscape Plantings</li>
                  <li class="wdt_40">Landscape Plantings</li>
                  <li>Landscape Lighting</li>
                  <li class="wdt_40">Landscape Lighting</li>
                  <li>Patios/Walkways</li>
                  <li class="wdt_40">Patios/Walkways</li>
                </ul>
              </div>
            </div>
            <div class="why_service_choose_col">
              <h4 class="fnt28">Why Choose Us</h4>
              <div class="choose_Accordian_Wdt">
                <div class="accordion-first clearfix acord_mar_non">
                  <div id="accordion2" class="accordion">
                    <div class="accordion-group">
                      <div class="accordion-heading"><a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" class="accordion-toggle collapsed"><em class="icon-fixed-width fa fa-plus"></em>how to Protect Your Sprinkler System</a></div>
                      <div id="collapseOne" style="height: 0px;" class="accordion-body collapse">
                        <div class="accordion-inner">
                          <p>Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                          <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-group">
                      <div class="accordion-heading"><a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" class="accordion-toggle collapsed"><em class="icon-fixed-width fa fa-plus"></em>how to Protect Your Sprinkler System</a></div>
                      <div id="collapseTwo" style="height: 0px;" class="accordion-body collapse">
                        <div class="accordion-inner">
                          <p>Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                          <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-group">
                      <div class="accordion-heading"><a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree" class="accordion-toggle collapsed"><em class="icon-fixed-width fa fa-plus"></em>how to Protect Your Sprinkler System</a></div>
                      <div id="collapseThree" style="height: 0px;" class="accordion-body collapse">
                        <div class="accordion-inner">
                          <p>Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                          <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-group">
                      <div class="accordion-heading"><a data-toggle="collapse" data-parent="#accordion2" href="#collapseFour" class="accordion-toggle collapsed"><em class="icon-fixed-width fa fa-plus"></em>how to Protect Your Sprinkler System</a></div>
                      <div id="collapseFour" style="height: 0px;" class="accordion-body collapse">
                        <div class="accordion-inner">
                          <p>Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                          <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end accordion-->
                </div>
              </div>
              <div class="requirement_garderning_col">
                <h5>
                  Have you any
                  requirement Of Gardening and Landscaping
                </h5><a href="{% url 'free_quote' %}" class="btn download_btn contact1_btn">Get a Quote</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content_Section End-->


{% endblock %}