{% extends "web_app/base.html" %}
{% load static %}
{% block content %}



    <!-- Inner_Heading Start-->
    <div class="inner_page_bnr">
      <div class="container">
        <h2>Landscape Design</h2>
      </div>
    </div>
    <!-- Inner_Heading End-->
    <!-- BreadCrumb Start-->
    <div class="breadcum_bg">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Landscape Design</li>
        </ol>
      </div>
    </div>
    <!-- BreadCrumb End-->
    <!-- Content_Section Start-->
    <div class="wdt_100 pad_100">
      <div class="container service_page">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 wdt_left">
            <ul class="service_nav">
              <li><a href="{% url 'services' %}">All Services</a></li>
              <li><a href="{% url 'lawn' %}">Lawn & Garden Care</a></li>
              <li><a href="{% url 'landscape' %}" class="service_nav_active">Landscape Design</a></li>
              <li><a href="{% url 'outdoor' %}">Exterior Remodel</a></li>
              <li><a href="{% url 'indoor' %}">Indoor Remodel</a></li>
            </ul>
            <div class="howwehelp_col">
              <h4>How can we help you?</h4>
              <p>
                Contact with us through our
                representative  or submit a
                business inquiry online.
              </p><a href="{% url 'contact' %}" class="contact_btn">Contact Us >> </a>
            </div>
            <!-- <div class="download_brochure_Col">
              <h5>Download Our latest <span>Company Brochure</span> from here</h5><a href="#" class="btn download_btn">download</a>
            </div> -->
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 wdt_rght">
            <div class="irrigation_drainage_Col">
              <div class="irrigation_drainage_desc">
                <h4 class="fnt28 mar_btm">Landscape Design</h4>
                <p>Beautiful landscaping and lawn care service is what we do best. We believe in quality and insuring a
                  client’s investment, while continuing to add value to your property long after the first season of
                  planting.</p>
                <p>Our professional team of landscape designers can assist you with everything from master plan design to material selection
                  and will be there to oversee every step of the construction process. Torres Yardworks
                  will work with you to meet existing budgets as well as suggesting budget-conscious
                  ways to enhance your property investment in the future. </p>
              </div>
              <div class="irrigation_drainage_img"><span class="image_hover"><img src="{% static 'web_app/images/landscape_design/top.jpg' %}" alt="image" class="zoom_img_effect"></span></div>
            </div>
            <div class="key_benefit_col irrigation_key">
              <div class="key_benefit_img"><span class="image_hover"><img src="{% static 'web_app/images/landscape_design/design.jpg' %}" alt="image" class="zoom_img_effect"></span></div>
              <div class="key_benefit_desc">
                <h4 class="fnt28 mar_btm">Landscape Design</h4>
                <p>Our experts are trained in horticulture and design. We can help you craft an outdoor space that suits
                  your preferences so that your lawn and garden are an extension of your home.</p>
                <ul class="key_benefit_list">
                  <li>Cost Estimating</li>
                  <li class="wdt_40">Project Management</li>
                  <li>Budget Preparation</li>
                  <li class="wdt_40">Constant Communication</li>
                  <li>Grading & Site Analysis</li>
                  <li class="wdt_40">Landscape Architecture Services</li>
                </ul>
              </div>
            </div>
            <div class="key_benefit_col">
              <div class="key_benefit_img_r"><span class="image_hover"><img
                    src="{% static 'web_app/images/landscape_design/hardscaping.jpg' %}" alt="image"
                    class="zoom_img_effect"></span></div>
              <div class="key_benefit_desc_l">
                <h4 class="fnt28 mar_btm">Hardscaping</h4>
                <p>Hardscape shows a more architectural element of landscaping. This is a great way to add distinction
                  to your home. </p>
                <ul class="key_benefit_list">
                  <li>Decks </li>
                  <li class="wdt_40">Paved Walkways</li>
                  <li>Stone Patios</li>
                  <li class="wdt_40">Fire Pits</li>
                  <li>Water Feature Construction</li>
                  <li class="wdt_40">Retaining Wall</li>
                  <li>Outdoor Kitchen</li>
                </ul>
              </div>
            </div>
            <div class="key_benefit_col">
              <div class="key_benefit_img"><span class="image_hover"><img
                    src="{% static 'web_app/images/landscape_design/irrigation.jpg' %}" alt="image"
                    class="zoom_img_effect"></span></div>
              <div class="key_benefit_desc">
                <h4 class="fnt28 mar_btm">Irrigation System</h4>
                <p>An irrigation system is a key investment in having a great lawn year round. Torres Yardworks not only
                  has the experience to desing and install new irrigation systems but also update and repair existing
                  systems.
                  </p>
                <ul class="key_benefit_list">
                  <li>Master Irrigation Plans</li>
                  <li class="wdt_40">Drip Irrigation</li>
                  <li>Irrigation Evaluations</li>
                  <li class="wdt_40">Regular Irrigation Checks</li>
                  <li>Sprinkler System Construction</li>
                  <li class="wdt_40">Irrigation Repair</li>
                  
                </ul>
              </div>
            </div>
            <div class="key_benefit_col">
              <div class="key_benefit_img_r"><span class="image_hover"><img
                    src="{% static 'web_app/images/landscape_design/drain.jpg' %}" alt="image"
                    class="zoom_img_effect"></span></div>
              <div class="key_benefit_desc_l">
                <h4 class="fnt28 mar_btm">Drainage System</h4>
                <p>Our irrigation services also include drainage solutions. Proper drainage will protect your
                  structure from potential damage to its foundation from excess water. </p>
                <ul class="key_benefit_list">
                  <li>French Drains</li>
                  <li class="wdt_40">Detention Systems</li>
                  <li>Drain Grate Installation</li>
                  <li class="wdt_40">Curb Cuts</li>
                  <li>Fountain Installation Coordination</li>
                  <li class="wdt_40">Pottery Plumbing</li>
                </ul>
              </div>
            </div>
            <div class="key_benefit_col">
              <div class="key_benefit_img"><span class="image_hover"><img
                    src="{% static 'web_app/images/landscape_design/lighting.jpg' %}" alt="image"
                    class="zoom_img_effect"></span></div>
              <div class="key_benefit_desc">
                <h4 class="fnt28 mar_btm">Aquatics, Shades, & Lighting</h4>
                <p>Let our team create a peaceful serenity to your landscape environment for you to enjoy during the evening or day time hours!</p>
                <ul class="key_benefit_list">
                  <li>Fountain Installation</li>
                  <li class="wdt_40">Ponds, Waterfalls & Streams</li>
                  <li>Arbor Construction</li>
                  <li class="wdt_40">Pergola Construction</li>
                  <li>Deck & Patio Lighting</li>
                  <li class="wdt_40">Security Lighting</li>
                  <li>Pathway Lighting</li>
                  <li class="wdt_40">Landscape Lighting</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content_Section End-->


{% endblock %}