{% extends "web_app/base.html" %}

{% load static %}
{% block content %}

<!-- Hero  -->
<div class="page-header">
    <img src="{% static 'web_app/img/home/hero/hero1.jpg' %}" alt="">
    <div class="page-h-content bold-txt">
        <h1>Remodel</h1>
        <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sit, optio sequi quis facilis libero?</p> -->
    </div>
    <div class="overlay"></div>
</div>

<!-- Page Header Section  -->
<section class="mission">
    <header class="section-header">
        <h2 class="bold-txt text-secondary">Remodel</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolor harum saepe deserunt voluptate
            exercitationem ipsam! Impedit, unde rerum fuga nihil ratione, beatae, cum ab consectetur sint vero ullam
            explicabo.
        </p>
    </header>
</section>

<!-- Landscaping -->
<section class="section-wrap flex-columns">
    <div class="row">
        <div class="wrapper column">
            <div class="column-1">
                <img src="{% static 'web_app/img/home/estimate/estimate.jpg' %}" alt="" />
            </div>
        </div>
        <div class="column">
            <div class="column-2 bg-secondary content">
                <h2 class=" bold-txt">Landscaping Services</h2>
                <p>
                    Make your landscape a beautiful getaway by working with the experts at <span
                        class=" bold-txt">Torres Contractors</span>!
                    <br>
                    From taking care of your lawn to creating a new patio, you can count on us to keep your outside
                    space in top shape all the time.
                    <br>
                    <br>
                    No matter what your needs or visions might be, you can expect our team to bring you the
                    solutions you expect. We will treat your landscape with proper care as if it was our own to
                    ensure your satisfaction and so that you can work with us again in the future.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Our Company  -->
<section class="section-wrap flex-columns flex-reverse">
    <div class="row">
        <div class="column">
            <div class="column-1">
                <img src="{% static 'web_app/img/home/estimate/estimate.jpg' %}" alt="" />
            </div>
        </div>
        <div class="column">
            <div class="column-2 content">
                <h2 class="text-secondary bold-txt">Our History</h2>
                <p>
                    Make your landscape a beautiful getaway by working with the experts at <span
                        class="text-primary bold-txt">Torres Contractors</span>!
                    <br>
                    From taking care of your lawn to creating a new patio, you can count on us to keep your outside
                    space in top shape all the time.
                    <br>
                    <br>
                    No matter what your needs or visions might be, you can expect our team to bring you the
                    solutions you expect. We will treat your landscape with proper care as if it was our own to
                    ensure your satisfaction and so that you can work with us again in the future.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Landscaping -->
<section class="section-wrap flex-columns">
    <div class="row">
        <div class="wrapper column">
            <div class="column-1">
                <img src="{% static 'web_app/img/home/estimate/estimate.jpg' %}" alt="" />
            </div>
        </div>
        <div class="column">
            <div class="column-2 bg-secondary content">
                <h2 class=" bold-txt">Landscaping Services</h2>
                <p>
                    Make your landscape a beautiful getaway by working with the experts at <span
                        class=" bold-txt">Torres Contractors</span>!
                    <br>
                    From taking care of your lawn to creating a new patio, you can count on us to keep your outside
                    space in top shape all the time.
                    <br>
                    <br>
                    No matter what your needs or visions might be, you can expect our team to bring you the
                    solutions you expect. We will treat your landscape with proper care as if it was our own to
                    ensure your satisfaction and so that you can work with us again in the future.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}