
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    color: #333;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    transition: 0.5s;
    z-index: 12;
}

/* .navbar.top {
    background: transparent;
} */

.navbar a {
    color: #333;
    padding: 10px 10px;
    margin: 0 5px;

}

.nav-links:hover {
    border-bottom: #00A651 2px solid;
}

.navbar ul {
    display: flex;
}

.navbar .logo {
    font-weight: 400;
}

/* Header  */
.hero {
    height: 100vh;
    position: relative;
    color: #fff;

}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}


.hero a{
    margin-right: 10px;
}

.hero .row {
    align-items: left;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    height: 100%;
    padding: 0 50px;
    
    
    
}

.hero-content h1 {
    font-size: 55px;

}

.hero-content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

/* Services  */

.services {
    height: 90vh;
    position: relative;
}

.services .row {
    justify-content: center;
    
}

.services .card {
    background: #00A651;
    position: relative;
    flex: 1;
    max-width: 330px;
    height: 500px;
    margin: 20px;
    overflow: hidden;
}

.card img {
    opacity: 0.8;
    position:relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
}

.card:hover img {
    opacity: 1;
}

.card .details {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    align-items: center;
    /* padding: 0 10px; */
}

.card .details h3 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 240px;
    transition: 0.4s;
    transition-property: transform;
}

.card:hover .details h3 {
    transform: translateY(-30px);
}

.card .details p {
    margin: 10px 30px;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity transform;
}

.card:hover .details p {
    opacity: 1;
    transform: translateY(-30px);
}

.card .details a {
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity transform;
}

.card:hover .details a {
    opacity: 1;
    transform: translateY(-30px);
}

.card .btn {
    padding: 10px 20px;
}

/* Promotion Section  */

.promo {
    height: 80vh;
    position: relative;
    color: #fff;
    overflow: hidden;

}

.promo img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.estimate .content {
    padding: 100px;
}


/* Footer  */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #28a745;
}

.footer .social>* {
    margin-right: 30px;
}