
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    color: #333;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    transition: 0.5s;
    z-index: 12;
}

/* .navbar.top {
    background: transparent;
} */

.navbar a {
    color: #333;
    padding: 10px 10px;
    margin: 0 5px;

}

.nav-links:hover {
    border-bottom: #00A651 2px solid;
}

.navbar ul {
    display: flex;
}

.navbar .logo {
    font-weight: 400;
}

/* Header  */
.hero {
    height: 100vh;
    position: relative;
    color: #fff;

}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}


.hero a{
    margin-right: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    height: 100%;
    padding: 0 50px;
    
    
    
}

.content h1 {
    font-size: 55px;

}

.content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

/* Services  */

.services .text-wraper {
    color: #fff;
    position: relative;
    margin-top: -100%;
}


/* Footer  */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #28a745;
}

.footer .social>* {
    margin-right: 30px;
}